<header>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
      <%= t('site_navigation.admin_panel_title') %>
    </span>

    <span class="navbar-text">
      <%= link_to t('site_navigation.show_all_badges'), admin_badges_path %> |
      <%= link_to t('site_navigation.show_all_gists'), admin_gists_path %>
    </span>
  </nav>

  <nav class="navbar navbar-light bg-light">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

    <span class="navbar-text">
      <%= render 'admin/navigation' %>
    </span>
  </nav>
</header>
