<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('test_passages_helper.next_button') %></p>

<% end %>
