<div class="row justify-content-md-center mt-3 ">
  <div class="col-md-auto mb-3">
    <h1><%= t('.header', title: @test_passage.test.title) %></h1>

    <p>
      <%= t('.all_quesions_number', total_questions: @test_passage.total_questions) %> <br>
      <%= t('.questions_with_correct_answers', correct_questions: @test_passage.correct_questions) %>
    </p>

    <%= render 'badges/badge_table' %>

    <div class="card text-center mb-3">
      <div class="card-body">
        <%= success_percentage_result_message(@test_passage) %> <br>
        <%= link_to t('.all_tests'), tests_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
