<h1><%= t('.header', test_passage_test_title: @test_passage.test.title) %></h1>

<% if @test_passage.current_question.nil? %>

  <p>
    <%= t('.no_available_questions') %><br>
  </p>

  <%= link_to t('navigation.back'), tests_path %>

<% elsif @test_passage.current_question.answers.count.zero? %>

  <%= render 'header_and_question' %>

  <p>
    <%= t('.no_available_answers') %><br>
  </p>

  <%= link_to t('navigation.back'), tests_path %>

<% else %>

  <%= render 'header_and_question' %>

  <%= render 'form' %>

<% end %>
