<h1><%= t('.header', test_passage_test_title: @test_passage.test.title) %></h1>

<% if @test_passage.current_question.nil? %>

  <p>
    <%= t('.no_available_questions') %><br>
  </p>

  <%= link_to t('navigation.back'), tests_path, class: "btn btn-primary" %>

<% elsif @test_passage.current_question.answers.count.zero? %>

  <%= render 'header_and_question' %>

  <div class="card card-body">
    <%= t('.no_available_answers') %>
  </div>

  <p>
    <%= link_to t('navigation.back'), tests_path, class: "btn btn-primary mt-3" %>
  </p>

<% else %>

  <%= render 'header_and_question' %>

  <div class="card card-body mb-3">
    <%= render 'form' %>
  </div>

<% end %>
