<tr>
  <td class="align-middle">
    <%= test.title %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to t('actions.show'), admin_test_path(test), class: "btn btn-outline-primary" %>
    <%= link_to t('actions.edit'), edit_admin_test_path(test), class: "btn btn-outline-success" %>
    <%= link_to t('actions.delete'), admin_test_path(test), class: "btn btn-outline-danger btn-sm",
                method: :delete,
                data: { confirm: t('actions.delete_confirmation') } %>
  </td>
