<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<% if @tests.present? %>
  <table>
    <tr>
      <th><%= t('.table.title') %></th>
      <th><%= t('.table.level') %></th>
      <th><%= t('.table.questions') %></th>
      <th colspan="4"><%= t('.table.actions') %></th>
    </tr>

    <%= render @tests %>

  </table>
<% else %>
  <p><%= t('.no_tests_available') %></p>
<% end %>

