<div class="row justify-content-md-center mt-3 ">
  <div class="col-md-auto mb-3">
    <h1><%= t('tests.index.header') %></h1>

    <% if @tests.present? %>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.table.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.table.level') %></th>
          <th><%= t('.table.questions') %></th>
          <th><%= t('.table.category') %></th>
          <th><%= t('.table.timer') %></th>
          <th><%= t('.table.actions') %></th>
        </tr>
        </thead>

        <%= render @tests %>

      </table>
    <% else %>
      <p><%= t('.no_tests_available') %></p>
    <% end %>

  </div>
</div>
