<footer>
  <p>
    Copyright <%= current_year %>,
    project: <%= github_url(user: 'aritode', repo: 'test-guru') %>
    by: <%= github_url(user: 'aritode') %>
  </p>
  <p>
    <%= t('footer.app_description') %>
  </p>
  <p>
    <%= link_to  t('footer.app_description_with_url'),
                  "https://thinknetica.com/", target: '_blank'%>
  </p>
</footer>
