<% if user_signed_in? %>
  <p class="nav user"><%= t('site_navigation.welcome') %>,
    <b><%= current_user.full_name.html_safe %></b> <%= t('site_navigation.guru') %> |
    <% if current_user.admin? %>
      <%= link_to t('site_navigation.admin_panel'), admin_tests_path %> |
    <% end %>
    <%= link_to t('site_navigation.log_out'), destroy_user_session_path, method: :delete %></p>
<% else %>
  <p class="nav user">
    <%= link_to t('site_navigation.log_in'), new_user_session_path %> <%= t('site_navigation.or') %>
    <%= link_to t('site_navigation.sign_up'), new_user_registration_path %>
  </p>
<% end %>

<hr>
